  <div role="tabpanel" class="tab-pane" id="systemgoals">
                      
         <div class="cg-tip"><AnsiFormat @text="You can set some character goals here. It is not mandatory, and goals can be added or edited even after getting approved." /></div>
         <br>
         <p> <b>Character Goals:</b> </p>
          <MarkdownEditor @text={{char.custom.goals}} />
 </div>

 <div role="tabpanel" class="tab-pane" id="special">
         <div class="cg-tip"><AnsiFormat @text="Some concepts need to set additional information in the space below. Please note: You may have to save your changes and refresh the page before these additional fields will show." /></div>
         <br>
         {{#if char.custom.cg_adept}}
         <hr>
         <div class="cg-tip"><AnsiFormat @text="Adept concepts need to set the current state of progress on their marque here." /></div>
         <br>
         <p> <b>Marque Status (%):</b> </p>
         <Input @type="integer" @size={{25}} @value={{char.custom.marque}} />
         <br>
         {{/if}}
         {{#if char.custom.cg_connections}}
         <hr>
         <div class="cg-tip"><AnsiFormat @text="If you took the advantage connections, please specify these connections below, along with a brief explanation." /></div>
         <br>
         <p> <b>Connections:</b> </p>
         <MarkdownEditor @text={{char.custom.connections}} />
         {{/if}}
</div>
