  <div role="tabpanel" class="tab-pane" id="systemgoals">
                      
         <div class="cg-tip"><AnsiFormat @text="You can set some character goals here. It is not mandatory, and goals can be added or edited even after getting approved." /></div>
         <br>
         <p> <b>Character Goals:</b> </p>
          <MarkdownEditor @text={{char.custom.goals}} />
 </div>

 <div role="tabpanel" class="tab-pane" id="special">
     {{#if (model.char.custom.is_adept?) }}
         <div class="cg-tip"><AnsiFormat @text="Adept concepts need to set the current state of progress on their marque here." /></div>
         <br>
         <p> <b>Marque Status (%):</b> </p>
         <Input @type="integer" @size={{25}} @value={{char.custom.marque}} />
         <br>
         <br>
         <br>
         <br>
      {{/if}}
      {{#if (model.char.custom.set_connections?) }}
        <div class="cg-tip"><AnsiFormat @text="As you took the advantage connections, please specify these connections below, along with a brief explanation." /></div>
         <br>
         <p> <b>Connections:</b> </p>
         <MarkdownEditor @text={{char.custom.connections}} />
      {{/if}}
</div>
