 <li role="presentation"><a href="#special" aria-controls="misc" role="tab" data-toggle="tab">Special Settings</a></li>

 <div role="tabpanel" class="tab-pane" id="special">
                      
         <div class="cg-tip"><AnsiFormat @text={{model.cgInfo.special_blurb}} /></div>
         <br>
         <p> <b>Marque Status (%):</b> </p>
         <Input @type="integer" @size={{25}} @value={{model.char.custom.marque}} />
         <br>
         <br>
         <p> <b>Scion Power:</b> </p>
         <Input @type="text" @size={{25}} @value={{model.char.custom.scion}} />
  </div>
