<li role="presentation"><a href="#systemgoals" aria-controls="misc" role="tab" data-toggle="tab">Character Goals</a></li>
<li role="presentation"><a href="#connections" aria-controls="misc" role="tab" data-toggle="tab">Connections</a></li>
{{#if model.char.custom.is_adept}}
<li role="presentation"><a href="#systemmarque" aria-controls="misc" role="tab" data-toggle="tab">Marque Progress</a></li>
{{/if}}
