   <div id="systemgoals" class="tab-pane fade">
      {{{ansi-format text=char.custom.goals}}}
   </div>
  
   <div id="systemmarque" class="tab-pane fade">
          <div class="xp-ability">
          <div class="col col-xs-12 col-sm-4">
            <div class="xp-ability-name">Current progress</div>
          </div>
            <div class="col col-xs-12 col-sm-4">
           <div class="progress xp-progress">
                 <ProgressBar @currentValue={{{char.custom.marque}}} @maxValue="100" @bgColor="bg-success" @showLabel=true></ProgressBar>
               <div class="xp-progress-points">{{{char.custom.marque}}} / 100</div>
              </div>
              </div>
            </div>
</div>
  
  <div id="connections" class="tab-pane fade">
     {{{ansi-format text=char.custom.connections}}}
  </div>
