   <div id="systemgoals" class="tab-pane fade">
      {{{ansi-format text=char.custom.goals}}}
   </div>
  
   <div id="systemmarque" class="tab-pane fade">
      Current state of progress (in percent):
      <br>
      <div class="progress-bar {{bgColor}}" role="progressbar" style={{widthStyle}} aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
   </div>
  
  <div id="connections" class="tab-pane fade">
     {{{ansi-format text=char.custom.connections}}}
  </div>
