{{#if (not (eq char.custom.goals "")) }}
<li><a data-toggle="tab" href="#systemgoals">Character Goals</a></li> 
{{/if}}

{{#if char.custom.marque}}
<li><a data-toggle="tab" href="#systemmarque">Marque</a></li> 
{{/if}}

{{#if char.custom.connections}}
<li><a data-toggle="tab" href="#connections">Connections</a></li> 
{{/if}}
