  {{#if char.goals}}
  <div id="systemgoals" class="tab-pane fade">
      {{{ansi-format text=char.goals}}}
   </div>
  {{/if}} 
  
  {{#if char.marque}}
  <div id="systemmarque" class="tab-pane fade">
      The marque is currently at {{{ansi-format text=char.marque}}} percent.
   </div>
  {{/if}} 
  
  {{#if char.connections}}
  <div id="connections" class="tab-pane fade">
     {{{ansi-format text=char.custom.connections}}}
  </div>
  {{/if}} 
