{{#if char.custom.goals}}
<li><a data-toggle="tab" href="#goals">Character Goals</a></li> 
{{/if}}

{{#if char.custom.marque}}
<li><a data-toggle="tab" href="#marque">Marque</a></li> 
{{/if}}

{{#if char.custom.connections}}
<li><a data-toggle="tab" href="#connections">Connections</a></li> 
{{/if}}
